@font-face {
    font-family: Arla InterFace;
    src: url(../fonts/ArlaInterFace-Light.woff2) format("woff2"),
      url(../fonts/ArlaInterFace-Light.woff) format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap
  }
  
  @font-face {
    font-family: Arla InterFace;
    src: url(../fonts/ArlaInterFace-Regular.woff2) format("woff2"),
      url(../fonts/ArlaInterFace-Regular.woff) format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap
  }
  
  @font-face {
    font-family: Arla InterFace;
    src: url(../fonts/ArlaInterFace-Bold.woff2) format("woff2"),
      url(../fonts/ArlaInterFace-Bold.woff) format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap
  }
  
  @font-face {
    font-family: ARLA STRONG;
    src: url(../fonts/ARLASTRONG-Regular.woff2) format("woff2"),
      url(../fonts/ARLASTRONG-Regular.woff) format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap
  }
  
  @font-face {
    font-family: ARLA STRONG Mono;
    src: url(../fonts/ARLASTRONG-Mono.woff2) format("woff2"),
      url(../fonts/ARLASTRONG-Mono.woff) format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap
  }
  
  
  /* Using the fonts */
  html,
  body {
    font-family: 'Arla InterFace';
    
  }
  #logo {
    margin-top: 20vh;
    width: 10%;
  }
  
  .light {
    font-weight: 300;
  }
  
  .regular {
    font-weight: 400;
  }
  
  .bold {
    font-weight: 700;
  }
  
  .arla-strong {
    font-family: 'ARLA STRONG',
      Helvetica,
      Arial,
      sans-serif;
  }
  
  .arla-strong-mono {
    font-family: 'ARLA STRONG Mono',
      Helvetica,
      Arial,
      sans-serif;
  }

* {
    margin: 0;
    padding: 0;
}
/*
body {
    overflow: hidden;
}
*/
section {
    min-width: 100vw;
    min-height: 100vh;
    background-image: url(/img/arla-cows1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -200px;
    text-align: center;
}
section #home {
  padding: 0;
}
#home a{
  position: absolute;
  bottom: 2.5%;
  right: 2.5%;
  height: 12px;
  width: 60px;
  padding: 0.5%;
  background-color: white;
  border-radius: 12px;
  text-decoration: none;
  color: black;
}
section .divSections {
  position: absolute;
    top: 30vh;
    left: 37.5vw;
    width: 25vw;
    height: 40vh;
}
section div img {
    width: 20%;
}
section div input {
    border-radius: 12px;
    border: 2px lightgray solid;
    height: 38px;
    padding: 10px;
    width: 45%;
    font-size: 1em;
    margin-top: 1.5vh;
}

input[type="text"]:focus {
    outline: none;
    box-shadow: 0px 0px 5px lightgray;
    border:2px lightgray solid;
}
input[type="text"]:focus:hover {
    outline: none;
    box-shadow: 0px 0px 5px lightgray;
    border:2px lightgray solid;
    border-radius:12px;
}


.næste {
    display: block;
    background-color: white;
    border: 2px lightgray solid;
    border-radius: 12px;
    padding: 1.5%;
    width: 80px;
    text-decoration: none;
    color: #6A6747;
    margin: 0 2%;
}
.næste:hover {
    background-color: #6A6747;
    border-radius: 12px;
    padding: 1.5%;
    width: 80px;
    color: white;
    text-decoration: none;
    border: 2px #6A6747 solid;
}

.tilbage {
    display: block;
    background-color: #6A6747;
    border: 2px #6A6747 solid;
    border-radius: 12px;
    padding: 1.5%;
    width: 80px;
    color: white;
    text-decoration: none;
    margin: 0 2%;
}
/*
.tilbage:hover {
    background-color: white;
    border: 2px lightgray solid;
    border-radius: 12px;
    padding: 1.5%;
    width: 80px;
    text-decoration: none;
    color: #6A6747;
}
*/
.buttons {
padding: 2vh;
display: flex;
justify-content: center;
}


/* Progress bar */
.progressContainer {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 50%;
  top: 10vh;
  left: 25%;
}
.progress-bar {
  width: 100%;
}
ul {
  /* remove default ul styling */
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
}
li {
  display: flex;
  width: 100%;
  align-items: center;
}
li span {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  /* Every span needs a border so things align */
  border: 3px solid #f0f0f0;
  background-color: #fff;
  color: #fff;
}
li:after {
  background-color: #f0f0f0;
  content: '';
  height: 3px;
  flex-grow: 1;
}
li:last-child {
  /*  This prevents the last li from adding space to the right of the span  */
  width: auto;
}
li:last-child:after {
  display: none;
}
li.completed:after {
  background-color:#232323;
}
span.completed {
  border-color: #232323;
  background-color:#232323;
}
span.current {
  border-color: #232323;
  background-color: #232323;
  color: #232323;
}
.current img {
  width: 90%;
}

#svarReg {
  background-color: white;
  border-radius: 12px;
  padding: 7.35% 0 7.35% 0;
  width: 50%;
  margin: -14.2% 0 0 25%;
}

#svarReg h2 {
  font-weight: 900;
}

#svarReg h3 {
  padding: 0% 10% 0% 10%;
}

#svarReg h4 {
  font-style: italic;
}

#carbonResult {
  background-color: white;
  border-radius: 12px;
  padding: 1.7% 2% 1.7% 2%;
  width: 45%;
  margin: 0 0 0 25%;
}

#carbonResult img {
  width: 50%;
}

/* Data section */

#user2, #user3, #user4, #user5, #user6, #user7, #user8, #user9 {
  display: none;
}

#data {
  position: absolute;
  background-color: #f0f0f0;
  width: 90vw;
  height: 80vh;
  border-radius: 12px;
  top: 5vh;
  left: 5vw;
  padding: 5%;
}

#data h2 {
  font-weight: 900;
}

#data h4 {
  font-style: italic;
}

#sedata .divSections{
  position: relative;
  left: 0;
  top: 0;
  text-align: left;
}

#kvartal {
  margin: 3.5%;
}

#filterForm input {
  width: 15%;
  height: 20px;
  padding: 0;
  margin: 0;
  display: block;
}

.flex {
  display: flex;
  border-bottom: 1px solid;
  border-color: #f0f0f0;

}

#midtjylland {
  display: none;
}
#syddanmark {
  display: none;
}
#sjælland {
  display: none;
}
#hovedstaden {
  display: none;
}

#regionerne {
  width: 25%;
  border: 1px solid;
  padding: 1%;
  background-color: white;
}
#regionerne input {
  width: 15%;
  height: 20px;
  padding: 0;
  margin: 0;
  display: block;
}
#filterData {
  width: 25%;
  border: 1px solid;
  padding: 1%;
  background-color: white;
}
label {
  width: 80%;
}
#graphs {
  width: 50%;
  border: 1px solid;
  padding: 1%;
  background-color: white;
}
#chartContainer1 {
  display: none;
}
#filterForm .flex {
  margin: 5% 0 5% 0;
}
#regionerne .flex {
  margin: 5% 0 5% 0;
}

#vælgRegion {
  margin: 5% 0 2.5% 0;;
}

#sedata h1{
  font-size: 2.5em;
  width: 5%;
  position: absolute;
  top: 7.5vh;
  left: 45%;
}

#nj, #mj, #sd, #sl, #hs {
  display: none;
}

.show {
  display: block;
}
.hide {
  display: none;
}

/* ---------- authentication styling ---------- */
#firebaseui-auth-container {
  position: absolute;
  top: 50%;
  width: 100%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.firebaseui-container {
  font-family: var(--font-family);
  font: 16px var(--font-family);
  border-radius: 12px;
  border: 1px solid;
  border-color: lightgray;
}

.firebaseui-title {
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.mdl-button--raised.mdl-button--colored,
.mdl-button--raised.mdl-button--colored:active,
.mdl-button--raised.mdl-button--colored:hover {
  background: #fff;
  color: black;
  border-radius: 0;
}

.firebaseui-textfield.mdl-textfield .firebaseui-label::after {
  background-color: #fff;
}


